
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap&subset=cyrillic-ext');

@font-face {
	font-family: 'Zen Kaku Gothic New';
	src: url('../fonts/ZenKakuGothicNew-Bold.woff2') format('woff2'),
		 url('../fonts/ZenKakuGothicNew-Bold.woff.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Zen Kaku Gothic New';
	src: url('../fonts/ZenKakuGothicNew-Medium.woff2') format('woff2'),
		 url('../fonts/ZenKakuGothicNew-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Zen Kaku Gothic New';
	src: url('../fonts/ZenKakuGothicNew-Regular.woff2') format('woff2'),
		 url('../fonts/ZenKakuGothicNew-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}



/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	font-family: "Montserrat", sans-serif;
	line-height: 1;
	font-style: italic;
}
/* ------------------------------ */

h1 {
	font-size: 28px;
}
h2 {
	font-size: 22px;
}
h3 {
	font-size: 18px;
	font-weight: 700;
}

span.bold {
	font-weight: 700;
	text-decoration: overline;
}

p {
	font-family: 'Zen Kaku Gothic New', serif;
	text-indent: 50px;
	/*white-space: nowrap;*/
}

main p {
	font-weight: 700;
}
li {
	font-size: 14px;
	font-style: normal;
}

ul {
	text-align: center;
}

h2	{
	text-shadow: 1px 1px 1px #000;
}

h1, h2, h3 {
	line-height: 150%;
	word-spacing: 10px;
}
li {
	line-height: 120%;
	color: crimson;
}
h1 {
	letter-spacing: 5px;
}